<% provide(:title, (t".home_title") )%>
<div class="super_container">
  <header class="header">
    <!-- Header Content -->
    <div class="header_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
              <div class="logo_container">
                <a href=<%= root_path %>>
                  <div class="logo_text"><%= t".ht" %><span><%= t".edu" %></span></div>
                </a>
              </div>

              <nav class="main_nav_contaner ml-auto">
                <ul class="main_nav">
                  <% if user_signed_in? %>
                  <li><%= link_to (t".logout"), destroy_user_session_path, method: :delete %></li>
                  <% else %>
                  <% end %>
                </ul>
                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                <!-- Hamburger -->
                <div class="shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                <div class="hamburger menu_mm">
                  <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                </div>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Search Panel -->
    <div class="header_search_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
              <form action="#" class="header_search_form">
                <input type="search" class="search_input" placeholder="Search" required="required">
                <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
 <div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <h2 class="section_title"><%= t".welcome" %></h2>
            <div class="section_subtitle"><p><%= t".description" %></p></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="courses_button trans_200"><%= link_to (t".login"), new_user_session_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>
