<div class="course">
    <div class="container">
      <div class="row">
        <!-- Course -->
          <div class="course_container">
            <div class="row">
              <div class="col-md-4">
                <div class="course_title"><%= @user.name %></div>
                  <%= image_tag @user.image.url, size: Settings.user.size %>
                </div>
              <%= render "follow_form" if @user.id != @current_user.id %>
            </div>
            <%= render "details" %>
            <!-- Course Tabs -->
            <div class="course_tabs_container">
              <div class="tabs d-flex flex-row align-items-center justify-content-start">
                <div class="tab active"><%= t".following" %></div>
                <div class="tab"><%= t".following" %></div>
                <div class="tab"><%= t".following" %></div>
              </div>
              <div class="tab_panels">

                <!-- Description -->
                <div class="tab_panel active">
                  <div class="tab_panel_title"><%= t".summary" %></div>
                  <div class="tab_panel_content">
                    <div class="tab_panel_text">
                    </div>
                    <div class="tab_panel_section">
                      <div class="tab_panel_subtitle"></div>
                      <ul class="tab_panel_bullets">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                    <div class="tab_panel_section">
                      <div class="tab_panel_subtitle"></div>
                      <div class="tab_panel_text">
                        <p></p>
                      </div>
                    </div>
                    <div class="tab_panel_faq">
                      <div class="tab_panel_title"></div>
                <!-- Curriculum -->
                <div class="tab_panel tab_panel_2">
                  <div class="tab_panel_content">
                    <div class="tab_panel_title"><%= t".summary" %></div>
                    <div class="tab_panel_content">
                      <div class="tab_panel_text">
                        <p></p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
