<% provide :title, t(".word_list") %>
<h1><%= t(".word_list") %></h1>
<div class="row fil-form", id="filter-form">
  <%= form_tag words_path, method: :get, remote: true do |f| %>
  <div class="row fil-condition">
    <div class="form-group col-md-3">
      <%= radio_button_tag :learning_condition, "" %> <%= "All" %><br />
      <%= radio_button_tag :learning_condition, 1 %> <%= t ".learned" %><br />
      <%= radio_button_tag :learning_condition, 0 %> <%= t ".unlearned" %><br />
    </div>
    <div class="form-group col-md-3">
      <%= label_tag :course, t(".course"), class: "form-label" %>
      <%= select_tag :course_id_eq,
        options_from_collection_for_select(@courses,
          :id, :name, selected: (params[:content_start] || nil)),
            include_blank: t(".all_course") %>
    </div>
    <div class="form-group col-md-3">
      <%= label_tag :alphabet, t(".alphabet"), class: "form-label" %>
      <%= select_tag :content_start, options_for_select((:A..:Z).to_a,
        selected: (params[:content_start] || nil)),
          include_blank: t(".AtoZ") %>
    </div>
      <span class="col-md-2">
        <%= button_tag (fa_icon t(".filter")),class: "btn btn-filter" %>
      </span>
    <% end %>
  </div>
</div>

<div class="row word-title">
  <h3 class="col-sm-3" ><%= t".word" %></h3>
  <h3 class="col-sm-5" ><%= t".number_of_users" %></h3>
</div>
<div class="row results">
  <%= render @words %>
</div>

<div class="row"></div>
  <%== pagy_bootstrap_nav(@pagy) %>
