<% provide :title, t(".word_list") %>
<h1><%= t(".word_list") %></h1>
<div class="row", id="filter-form">
  <span id="select-btn">
  <%= select_tag(:word, options_for_select(Settings.word.condition),
    include_blank: t(".all_words"), id: "condition", remote: true)%>
  </span>
  <%= search_form_for @search, url:words_path, method: :get, remote: true do |f| %>
  <div class="row">
  <div class="form-group col-md-3">
    <%= f.label :Course, class: "form-label"%>
    <%= f.select :course_id_eq, options_from_collection_for_select(@courses, :id, :name), prompt: (t".all_words")%>
  </div>
  <%= f.button (fa_icon (t".filter")), class: "filter-button" %>
  </div>
  <% end %>
</div>
<div id="words-table">
  <table class="table table-hover bg-table ls-words">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%= t(".word") %></th>
      <th class="text-c"><%= t(".answer") %></th>
    </tr>
  </thead>
  <tbody class="results">
    <%= render @words %>
  </tbody>
</table>
</div>
<div class="paginator">
  <%== pagy_nav_bootstrap(@pagy) %>
</div>
